h1 {
    text-align: center;
    background-color: darkorange;
    padding: 1rem;
}
body {
    text-align: center;
}
#Selection {
    border: darkslateblue dashed 3px;
    padding: 1rem;
    margin: 1rem;
}
#Selection-date {
    border: darkslateblue dashed 3px;
    padding: 1rem;
    margin: 1rem;
}
#Resultats { /* #pour sélectionner des id, . pour sélectionner des classes*/
    border: darkorange dashed 3px;
    padding: 1rem;
    margin: 1rem;
}
ul { /* permet de supprimer les puces des liens */
    list-style-type: none;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form>* { /* permet de créer un espace entre chaque enfant de form */
    margin: 1rem;
}
button {
    padding: 0.3rem;
    background-color: darkorange;
    border: solid;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
}
table {
    border : grey solid;
    margin: auto;
}
tbody{
    background: antiquewhite;
}

